body{
    font-family: Gill Sans;
}
.mainC{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    border: 2px solid black;
    background-color: black;
}
.title{
    font-size:larger;
    padding: 30px;
    font-weight: 700;
}
.innerM{
    width: 30%;
    display: flex;
    border-radius: 14px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 12px 12px 13px white;
    border:2px solid black;
    height: 80vh;
    scroll-behavior: smooth;
    overflow: scroll;
}
.inputF{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;

}
input{
    /* min-width: none; */
    flex:1;
    width: 70%;
    max-width: 220px;
    padding: 5px 12px;
    border-radius: 14px;
    font-style: italic;
}
.item{
    display: flex;
    align-items: center;
    /* padding: 0px 5px; */
}
p{
    flex: 1;
    padding: 0px 13px;
}
button{
    border-radius: 12px;
    color: white;
    border:none;
    padding: 5px 12px;
    margin: 0px 5px;
    background-color: blue;
}